<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <h1>Person: <%= id %></h1>

        <% if (query.amGood !== '') { %>
            <h1>
                Query: <%= query.amGood %>
            </h1>
        <% } %>
    </body>
</html>